<!-- <footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2023</span>
    </div>
</footer> -->

<section class="footer d-flex flex-column bg-dark">
<div class="text-muted text-center pt-3">
    CONTACT US
</div>
<div class="container d-flex justify-content-between">
    <div class="p-2">
        <h6 class="text-muted">Phone:15006454</h6><br>
        <h6 class="text-muted">Email:someone@gmail.com</h6><br>
        <h6 class="text-muted">Location:Tirana,Albania</h6>
    </div>
    <div class="p-2">
        <div>
            <a href="/" class="text-muted">HOME</a>
        </div><br>
        <div>
            <a href="/library" class="text-muted">ALL BOOKS</a>
        </div><br>
      <div>
        <a href="/library/new" class="text-muted">NEW BOOK</a>
      </div>
    </div>

</div>
<div class="container text-center">
        <span class="text-muted">&copy; Library 2023</span>
    </div>
</section>
