<nav class="navbar navbar-expand-lg navbar-light bg-dark w-100">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse "  id="navbarTogglerDemo03">
        <div class="container d-flex justify-content-between">
   
            <div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link text-white" href="/"><span class="letter">H</span>OME</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white" href="/library"><span class="letter">A</span>LL BOOKS</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white" href="/library/new"><span class="letter">N</span>EW BOOK</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white" href="/userInfo"><span class="letter">U</span>SER INFO</a>
                    </li>
                  </ul>
      
            </div>
            <div>
                <img src="https://images.unsplash.com/photo-1529473814998-077b4fec6770?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjF8fGJvb2tzfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60" alt=""style="width: 100px; height=100px">
            </div>
            
  
            <div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link text-white" href="/register"><span class="letter">R</span>EGISTER</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white" href="/login"><span class="letter">L</span>OG IN</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white" href="/logout"><span class="letter">L</span>OG OUT</a>
                    </li>
                  </ul>
             
            </div>
        </div>
      </div>
    </div>
  </nav>
  