<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<style>
    body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* This ensures the body takes at least the full viewport height */
    margin: 0;
  }
  
  .content {
    flex: 1; /* This allows the content to expand and push the footer down */
    padding: 20px; /* Adjust the padding as needed */
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/cssStyle.css">
<body>
    <%-include('../partials/navbar')%>
    
    <div class="pt-5 mt-5">
        <%-include('../partials/messages')%>
    </div>
    <form action="/login" method="POST" class="content container login-form-style col-md-6">
        <div class="row mb-3">
            <label for="username" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="username" name="username">
            </div>
          </div>
      
        <div class="row mb-3">
          <label for="password" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="password" name="password">
          </div>
        </div>
      

              
     <div class="mb-3 text-center">
        <button type="submit" class="btn btn-primary">Log In</button>
     </div>
     
      </form>


      <%-include('../partials/footer')%>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</body>
      

</html>




<!-- 






<form action="/login" method="POST">
    <div>
        <label for="username">Username</label>
    <input type="text" id="username", name="username">
    </div>
      
    <div>
        <label for="email">Email</label>
        <input type="text" id="email", name="email">
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" id="password", name="password">
    </div>


   
    <button>
        Login
    </button>

</form> -->